{% extends "layout.html" %}

{% block title %}
    Lookup
{% endblock %}

{% block main %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Cover</th>
                <th colspan='3'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td><img src='{{ book.coverS }}'></td>
                    <td>
                        <form method='POST' action='/addreview'>
                        <input type=hidden name='bookID-add' id='bookID'  value='{{ book.book_id }}'>
                        <button class='btn btn-primary add_review book_ID' value='{{ book.book_id }}'type='button' >Add/Update review</button>
                        </form>
                    </td>
                    <td>
                        <form method='POST' action='/delete_review'>
                        <input type=hidden name='bookID_delete_review' id='bookID_delete_review' value='{{ book.book_id }}'>
                        <button class='btn btn-primary' type='submit'>Delete Review</button>
                        </form>
                    </td>
                    <td>
                        <form method='POST' action='/delete_book'>
                        <input type=hidden name='bookID-delete' id='bookID-delete' value='{{ book.book_id }}'>
                        <button class='btn btn-primary' type='delete'>Delete Book Entry</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
<!-- review modal -->
    <div id="reviewModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <p class='form-p'>Enter your review here:</p>
        <form method='POST' action='/add_edit_review'>
            <textarea type=text name='review_insert' id='review_insert' cols='70' rows='20'></textarea>
            <input type="hidden" name="current" id='current' value=''>
            <div class='button-flex'>
                <button class='btn btn-primary' type='submit'>Submit</button>
                <button class='btn btn-primary close' type='button'>Close</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}

{% block javascript %} 
<script type='text/javascript' src='static/scripts/script.js'></script>
{% endblock javascript %}
